body{
  background-image:url("b1.jpg");
  width:800px;
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  image-orientation: center;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}

#white{
  background-color:
}
