body{
background:black;
height:3000px;
width:5900px;
font-family: Baskerville;
}

.starry{
  filter: blur(6px);
  transition: all 0.25s;
  height:55%;
  width:25%;
  position:absolute;
  top:100px;
  margin-top: 9%;
  margin-left: 12%;
}

.starry:hover{
  filter: blur(0px);
}

img{
  display: inline-block;
  margin-left: 41%;
  height: 120%;
}

ul {
  filter: blur(6px);
  transition: all 0.25s;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul:hover{
  filter:blur(0px);
}

li {
  font-size: 60px;
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 80px 350px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(16,30,69);
}

.active {
  background-color:rgb(16,30,69);
}

.current {
  background-color:rgb(51,121,219);
}

.current:hover{
  filter:blur(0px);
}

.title{
  filter: blur(6px);
  transition: all 0.25s;
  margin-left: 140%;
  width:100%;
  font-size: 130px;
  padding:4%;
  font-family: sans-serif;
}

.title:hover{
  filter:blur(0px);
}

h1{
  filter: blur(6px);
  transition: all 0.25s;
  color:white;
  font-size: 60px;
  font-family: sans-serif;
  margin-left: 42%;
  margin-top:40%;
  letter-spacing: 8px;
}

h1:hover{
  filter:blur(0px);
  brightness:(0.2);
}

h1 a{
  color: white;
  text-decoration:none;
}
