body{
background:black;
height:5000px;
font-family: Baskerville;
}

.starry{
  filter: blur(6px);
  transition: all 0.25s;
  height:30%;
  width:15%;
  position:absolute;
  top:100px;
  margin-top: 17%;
  margin-left: 28.5%;
}

.starry:hover{
  filter: blur(0px);
  transform: scale(1.8);
}

img{
  display: inline-block;
  margin-left: 34%;
  height: 120%;
}

ul {
  filter: blur(6px);
  transition: all 0.25s;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

ul:hover{
  filter:blur(0px);
}

li {
  font-size: 60px;
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 80px 350px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(16,30,69);
}

.active {
  background-color:rgb(16,30,69);
}

.title{
  filter: blur(6px);
  transition: all 0.25s;
  margin-left: 139%;
  width:100%;
  font-size: 130px;
  padding:4%;
  font-family: sans-serif;
}

.title:hover{
  filter:blur(0px);
}

h1{
  filter: blur(6px);
  transition: all 0.25s;
  color:white;
  font-size: 60px;
  font-family: sans-serif;
  margin-left: 42%;
  margin-top:141%;
  letter-spacing: 8px;
}

h1:hover{
  filter:blur(0px);
  brightness:(0.2);
}

h1 a{
  color: white;
  text-decoration:none;
}

.i1{
  filter: blur(6px);
  transition: all 0.25s;
  height:22%;
  width:5%;
  position:absolute;
  top:100px;
  margin-top: 8%;
  margin-left: 0%;
}

.i1:hover{
  filter: blur(0px);
  transform: scale(1.6);
}

.i2{
  filter: blur(6px);
  transition: all 0.25s;
  height:30%;
  width:10%;
  position:absolute;
  top:100px;
  margin-top: 22%;
  margin-left: 5%;
}

.i2:hover{
  filter: blur(0px);
  transform: scale(1.5);
}

.i3{
  filter: blur(6px);
  transition: all 0.25s;
  height:40%;
  width:25%;
  position:absolute;
  top:100px;
  margin-top: 10.8%;
  margin-left: 55.2%;
}

.i3:hover{
  filter: blur(0px);
  transform: scale(1.4);
}

.i4{
  filter: blur(6px);
  transition: all 0.25s;
  height:20%;
  width:5%;
  position:absolute;
  top:100px;
  margin-top: 36%;
  margin-left: 32%;
}

.i4:hover{
  filter: blur(0px);
  transform: scale(1.4);
}

.i5{
  filter: blur(6px);
  transition: all 0.25s;
  height:40%;
  width:20%;
  position:absolute;
  top:100px;
  margin-top: 36%;
  margin-left: 42.7%;
}

.i5:hover{
  filter: blur(0px);
  transform: scale(1.4);
}
