body{
height:5000px;
background color: black;
font-family: Baskerville;
}

.starry{
  filter: blur(6px);
  transition: all 0.25s;
  height:1500px;
  position:fixed;
  top:100px;
  margin-top: 30%;
}

.starry:hover{
  filter: blur(0px);
}

img{
  display: inline-block;
  height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

li {
    font-size: 53px;
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 80px 350px;
    text-decoration: none;

}

li a:hover {
    background-color: black;
    text-decoration-color: blue;
}

li a:hover {
    background-color: rgb(16,30,69);
}

.active {
    background-color:rgb(16,30,69);
}

.title{
  filter: blur(6px);
  transition: all 0.25s;
  margin-left: 138%;
  width:100%;
  font-size: 130px;
  padding:4%;
  font-family: sans-serif;
}

.title:hover{
    filter:blur(0px);
}
