body{
  background-color: red;
}
title{
font-size: 20px
}
h1{
  background-color: red;
  text-align: center;
  border: 4px dotted:
  mediumvioletred;
  border-bottom-color: pink;
}/


element.style{
  text-decoration-skip-ink:
}
a{
  font-size: 100px;
  color:white;
}
img{
  width: 100px;
}

#good{
  background-color: lightblue;
}

#evil{
  background-color: lightgreen;
}
.na{
  font-family:Helvetica
}
.sa{
  font-family: Georgia;
}
