body{
background:white;
height:900px;
width:425px;
font-family: Avenir;
}

ul {
  filter: drop-shadow(0px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

li {
  font-size: 10px;
  float: left;
}

li a {
  filter: drop-shadow(0px);
  display: block;
  width: 100%;
  color: black;
  text-align: center;
  padding: 10px 22px;
  text-decoration: none;
  margin-left: 23%;
}

li a:hover {
  filter: drop-shadow(8px 8px 10px gray);
  background-color: rgb(226,235,237,0.5);
}

.active {
  background-color: rgb(226,235,237,0.5);
}

.title{
  filter: drop-shadow(0px);
  margin-left: 7%;
  text-align: center;
  width:100%;
  font-size: 20px;
  padding:4%;
  font-family: sans-serif;
}

.title:hover{
  width:100%;
  filter: drop-shadow(8px 8px 10px gray);
}

h1{
  color:black;
  filter:drop-shadow(0px);
  font-size: 10px;
  width: 200px;
  text-align: center;
  margin-left: 25px;
  letter-spacing: 3px;
  bottom:10px;
  position:fixed;
}

h1:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

h1 a{
  color: black;
  text-decoration:none;
}

h2{
  position:absolute;
  height:300px;
  width:900px;
  font-size: 20px;
  color:black;
  filter:drop-shadow(0px);
  font-size: 60px;
  margin-left: 18%;
  margin-top:30%;
  letter-spacing: 6px;
  z-index:3;
}

h2:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

h2 a{
  color: black;
  text-decoration:none;
}

h3{
  color:black;
  filter:drop-shadow(0px);
  font-size: 60px;
  margin-left: 6.5%;
  margin-top:40%;
  letter-spacing: 6px;
  bottom:10px;
  position:fixed;
}

h3:hover{
  filter:drop-shadow(8px 8px 10px gray);
}

h3 a{
  color: black;
  text-decoration:none;
}

h4{
  color:white;
  font-size: 60px;
}

h5{
  font-family: Avenir;
  color: white;
  font-size: 60px;
  margin-left: 18%;
  margin-top: 200px;
  letter-spacing: 6px;
}

h6{
  font-family: Avenir;
  color: black;
  margin-top: 2%;
  font-size: 38px;
text-align: left;
}

h7{
  font-family: Avenir;
  color: black;
  margin-top: -95px;
  margin-left: -100px;
  width:400px;
  font-size: 38px;
text-align: left;
position: absolute;
filter:drop-shadow(0px);
font-weight: bold;
}

h8{
  font-family: Avenir;
  color: black;
  margin-top: -45px;
  margin-left: -100px;
  width:400px;
  font-size: 38px;
text-align: left;
position: absolute;
  letter-spacing: 4px;
filter:drop-shadow(0px);
}

#b{
  position: absolute;
  width: 420px;
  height:240px;
  margin-left: -0.5px;
    padding: 50px 0;
    margin-top: 12px;
    z-index: -2;
}

#picture_container {
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_two{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_three{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_four{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_five{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_six{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_seven{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container_eight{
  width: 1px;
  height: 1px;
  /*background: gray;*/
}

#picture_container img {
  width: 100%;
  margin-left: 60px;
  margin-top: 85px;
}



#back{
  position: absolute;
  width: 420px;
  height:100px;
  margin-left: -90px;
    margin-top: 190px;
    z-index: -2;
}
#picturecontainer img {
  width: 100%;
  margin-left: 2px;
  margin-top: 45px;
  z-index: 0;
}

#picturecontainer_two img {
  width: 100%;
  margin-left: 2px;
  margin-top: 45px;
  z-index: 0;
}

#back img{
  width: 100%;
  margin-left: 2px;
  margin-top: 75px;
  z-index: 0;
}

#picture_container_two img {
  width: 140px;
  height: 90px;
  display: none;
  margin-left: 147px;
  margin-top: 132px;
}

#picture_container_three img {
  width:250px;
  height: 140px;
    display: none;
    margin-left: 10px;
    margin-top: 120px;
}

#picture_container_four img {
  width:370px;
  height: 180px;
    display: none;
    margin-left: 1px;
    margin-top: 160px;
}

#picture_container_five img {
  width:570px;
  height: 180px;
    display: none;
    margin-left: 3px;
    margin-top: 325px;
}

#picture_container_six img {
  width:570px;
  height: 180px;
    display: none;
    margin-left: -280px;
    margin-top: 409px;
}


#picture_container_seven img {
  width:370px;
  height: 180px;
    display: none;
    margin-left: 90px;
    margin-top: 369px;
}

#picture_container_eight img {
  width:370px;
  height: 180px;
    display: none;
    margin-left: -70px;
    margin-top: 369px;
}


#button {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 260px;
  margin-left: 275px;
}

#bu {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 170px;
  margin-left: 190px;
}


#c {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 230px;
  margin-left: 288px;
}

#d {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*background: black;*/
  margin-top: 196px;
  margin-left: 316px;
}

#g {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 430px;
  margin-left: 110px;
}


#m {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 426px;
  margin-left: 180px;
}


#k {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*background: black;*/
  margin-top: 490px;
  margin-left: 62px;
}


#f {
  float:inline block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
/*background: black;*/
  margin-top: 480px;
  margin-left: 135px;
}

.background{

  background-color: rgb(226,235,237,0.5);
  position:absolute;
  width: 420px;
  height:600px;
  z-index: -2;
  margin-top: 62px;
  opacity: 0.5;
}

img{

  position: absolute;
  margin-top: -35px;
  z-index: -2;

}

.bb {
  width: 25px;
  height: 35px;
position: absolute;
margin-left: 50px;
margin-top: 80px;
z-index: 2;
}



.bb_two {
  width: 25px;
  height: 35px;
position: absolute;
margin-left: 90px;
margin-top: 120px;
z-index: 2;
}


}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
