body{
  border-style: solid;
  border-width: 80px;
  border-color: rgb(188,188,188);
  width:2800px;
  height: 4500px;
  background-color: black;
  margin-left: 1500px;
  font-size: 43px;
  font-kerning: -5px;
  margin-top: 20px;
}

.context{
  border-color: rgb(188,188,188);
  border-top-style:outset;
  background-color: rgb(244,244,244);
  height:4500px;
}

h1{
  padding: 15px;
  font-family: georgia;
  color: rgb(144,136,125);
  margin-left: 300px;
  margin-top: 100px;
  line-height:35px;
}

h2{
  font-family: georgia;
  color: rgb(144,136,125);
  margin-left: 315px;
  margin-top: 50px;
}

.circle {
	width: 1850px;
	height: 1850px;
	background: rgb(116,111,105);
	-moz-border-radius: 55%;
	-webkit-border-radius: 55%;
	border-radius: 55%;
  margin-top:700px;
  margin-left: 500px;
}

.white {
	width: 1400px;
	height: 1400px;
	background: rgb(244,244,244);
	-moz-border-radius: 55%;
	-webkit-border-radius: 55%;
	border-radius: 55%;
  margin-top:-1615px;
  margin-left: 730px;
}

.red {
	width: 1000px;
	height: 1000px;
	background: rgb(225,92,77);
	-moz-border-radius: 55%;
	-webkit-border-radius: 55%;
	border-radius: 55%;
  margin-top:-1215px;
  margin-left: 930px;
}

.small {
	width: 550px;
	height: 550px;
	background: rgb(244,244,244);
	-moz-border-radius: 55%;
	-webkit-border-radius: 55%;
	border-radius: 55%;
  margin-top:-770px;
  margin-left: 1150px;
}


/* Cleaner, but slightly less support: use "50%" as value */
